.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure cards wrap to the next row if needed */
    padding: 10px 10%;
    gap: 50px;
}

.proj-title {
    position: relative;
    color: black;
    bottom: 0; /* Adjusted for proper alignment */
    transition: all 0.3s ease-in-out;
}

.proj-descrip p {
    height: 30px;
    font-size: 0.9rem;
    color: black;
    visibility: hidden; /* Start as hidden */
    opacity: 0; /* Fully transparent */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.proj-title:hover .proj-descrip p {
    visibility: visible; /* Make visible on hover */
    opacity: 1; /* Fully visible */
}

/* Styling for Project History header */
.project-history-header {
    color: #fff;
    margin-bottom: 20px; /* Spacing below the header */
    text-align: center; /* Center the header */
    width: 100%;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Stack cards vertically for smaller screens */
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }
    .img {
        height: 10px;
    }
    .project-history-header {
        margin-bottom: 15px; /* Reduce margin on smaller screens */
    }
}
